doctype html
html
    head
        title Mongo DB
    body
        h1 Pug - node template engine
        p.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.